body {
	background-color: #FFDAA4;
	overflow: hidden;
}

.partnersTitle { 
	margin-top: 100px;
    color: #b57470;
	font-size: 30px;  
    font-weight: 700;
	font-family: 'Raleway', sans-serif;  
}

.partnersLine {
	position: absolute;
	left: 105px;
	top: 220px;
	width: 160px;
	height: 15px;
	z-index: -1;
	background: #7FE19F;
}

.partnersInfo {
	display: flex;
}

.partnersCard {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partnersCard p { 
	color: #A96500;
	line-height: 160%;
	width: 350px;
	margin-left: 50px;
}

.partmersImg {
	margin-left: auto;
}
